<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="filler"></div>

        <div class="form-container">
             <form method="POST">

                 <div class="input-block">
                     <label for="login">Логин</label>
                     <input id="login" type="text" name="login">
                 </div>
                 <div class="input-block">
                     <label for="password">Пароль</label>
                     <input id="password" type="password" name="password">
                 </div>

                 <div class="input-block">
                     <label for="password">Пароль</label>
                     <input id="password" type="password" name="password2">
                 </div>

                 <div class="button-block">

                 {% csrf_token %}
                     <button>Регистрация</button>
                 </div>

             </form>
        </div>



        <div class="filler"></div>
    </div>
</body>
</html>